body {
    margin:0px;
}

.u-Container {
    max-width :1000px;
    min-height: 1500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color:rgb(172, 232, 232);
    color:rgb(14, 34, 36);

    .c-Massage-Wrapper{
        margin:10px;
        color:blue;
    }

    .c-Head {
        position:relative;
        min-height: 80px;
        
        .c-Link-Wrapper {
            margin:0px;
            font-size: 140%;
            padding:20px;
        }

        .c-Wrapper-Btn-For-Move {
            position:absolute;
            top:20px;
            right:5%;
        }
    }
}

.c-Input-Form-Wrapper {
    margin:10px;

    .c-Input-Form-Inner {
        
        textarea {
            min-width: 400px;
            min-height: 100px;
        }

        input {
            min-width: 400px;
            min-height: 20px;
        }
    }

    .a-Sort{
        max-width: 50px;
        min-height: 20px;
    }

    .a-Input-Btn {
        min-width: 100px;
        min-height: 20px;
    }
}

input.List_Btn {
    margin:10px;
    min-width: 400px;
}

.c-Wrapper-ListCards {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    max-width: 500px;

    input.Card_List_Btn {
        min-width: 350px;
        min-height: 15px;
        margin:5px;
        font-size: 80%;
    }

    .a-Separator {
        min-width:350px;
        min-height: 15px;
        margin:5px;
        background-color:black;
        color:aquamarine;
    }
}

.c-Wrapper-Btn-Bottom {
    margin:30px
}

.c-Note-Wrapper {
    position:fixed;
    bottom:50%;
    right: 10%;
    transform: translateY(50%);
    min-width: 400px;
    min-height: 550px;
    background-color:rgb(255, 255, 255);

    .c-Note-Inner{
        position:relative;

        .a-title{
            margin:20px;
            font-size: 120%;
        }
    
        .a-Note-Content{
            white-space: pre-wrap;
            min-width: 300px;
            min-height: 400px;        }

        // textarea {
        //     min-width: 300px;
        //     min-height: 400px;
        // }
    }

}

