.u-Container {
    max-width :600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.c-Head {
    margin:10px;
}

.c-Head-Form-Wrapper {
    margin:10px;

    textarea {
        min-width: 400px;
        min-height: 100px;
    }

    input {
        min-width: 400px;
        min-height: 20px;
    }

    input.button1 {
        min-width: 100px;
        min-height: 20px;
    }

    p.title {
        font-size: 200%;
    }
}